name: Ingestao continua

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

jobs:
  continua:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requisitos.txt

      - name: Rodar bot
        env:
          WC_BASE_URL: ${{ secrets.WC_BASE_URL }}
          WC_CK: ${{ secrets.WC_CK }}
          WC_CS: ${{ secrets.WC_CS }}
          DEFAULT_BUTTON_TEXT: ${{ secrets.DEFAULT_BUTTON_TEXT }}
          DEFAULT_CURRENCY: ${{ secrets.DEFAULT_CURRENCY }}
        run: |
          python main.py
